<div class="container">      
    <div class="row">
    <br>
    <a href="/humano/nuevo" class="btn btn-primary">Nuevo</a>
      <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Edad</th>
            <th colspan="2">Operación</th>
        </tr>
        </thead>
        {{#each humanos}}
          <tr>
            <td>{{this.nombres}}</td> 
            <td>{{this.apellidos}}</td>
            <td>{{this.edad}}</td>
            <td><a href="/humano/modificar/{{this._id}}">Modificar</a></td> 
            <td><a href="/humano/eliminar/{{this._id}}">Eliminar</a></td> 
          </tr>          
       {{/each}}   
      </table>
    </div>
</div>